.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.containerNav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: #3f2175;
    height: 30px;


}

.container {
    margin: 30px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 22px 21px;
    justify-content: center;
}

.instant_container {
    margin: 30px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 22px 21px;
    justify-content: center;
}

.instant {
    position: relative;
    vertical-align: top;
    width: 94px;
    text-align: center;
    word-wrap: break-word;
}





.logo {
    text-transform: uppercase;

}




